{% extends 'base.html.twig' %}

{% block title %}Ajouter une crypto{% endblock %}

{% block body %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger text-center" role="alert">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="bg-black">
        <!-- Navbar start -->
        <nav class=" nav-transaction navbar navbar-expand bg-black border-bot">
            <div class="container-fluid text-light">
                <a class="nav-item" href="{{ path('home') }}" aria-label="Close"><i class="fas fa-times"></i></a>
                <h2 class="flex-fill">Ajouter une crypto</h2>
            </div>
        </nav>
        <!-- Nav End -->
        <div class="add-page">
            <div class="form-container">
                {{ form_start(form) }}
                <div class="form-group">
                    <div class="d-flex">
                        <span class="icon"><i class="fas fa-search"></i></span>
                        {{ form_widget(form.name, {'attr': { 'class': 'text-light form-control ' , }}) }}
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn-form btn-hover">Add</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}