{% extends 'base.html.twig' %}

{% block title %}Ajouter une transaction{% endblock %}

{% block body %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger text-center" role="alert">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="bg-black">
    <!-- Navbar start -->
        <nav class=" nav-transaction navbar navbar-expand bg-black border-bot">
            <div class="container-fluid text-light">
                <a class="nav-item" href="{{ path('home') }}" aria-label="Close"><i class="fas fa-times"></i></a>
                <h2 class="flex-fill">Ajouter une transaction</h2>
            </div>
        </nav>
  <!-- Nav End -->
        <div class="add-page">
            <div class="form-container">
                {{ form_start(form) }}
                    <div class="form-group">
                        <div class="d-flex">
                            <span class="icon"><i class="fas fa-search"></i></span>
                            {{ form_widget(form.n, {'attr': { 'class': 'text-light form-control ' , }}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="icon"><i class="fas fa-search"></i></span>
                        {{ form_widget(form.quantity, {'attr': { 'class': 'text-light form-control ' , }}) }}
                    </div>
                    <div class="form-group">
                        <span class="icon"><i class="fas fa-search"></i></span>
                        {{ form_widget(form.price, {'attr': { 'class': 'text-light form-control ' , }}) }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn-form btn-hover">Add</button>
                    </div>
                {{ form_end(form) }}
            </div>
            <div class="text-center mt-3">
                <a  class="text-decoration-none text-light" href="{{path('add-crypto')}}">La crypto n'existe pas ?</a>
            </div>
        </div>
    </div>

{% endblock %}