{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
 

{% block body %}
{%  include 'partial/_nav.html.twig' %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success text-center m-0" role="alert">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger text-center m-0" role="alert">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="home bg-black">
        <div class="home-header">
            <h2 class="text-light">+ 2500 € </h2>
        </div>
        {%  if transactions|length > 0 %}
            <div class="crypto-list-container">
                {% for transaction in transactions %}
                    <div class="crypto-list">
                        <div class="crypto-name-section ">
                            <img class="currency" src="{{ transaction.n.image }}">
                            <div class="d-flex flex-row">
                                <h3>{{ transaction.n.acronym }}</h3>
                                <span>({{ transaction.n.name }})</span>
                            </div>
                        </div>
                        <div class="crypto-arrow-section flex-fill">
                            <p class="justify-content-end"><img class="arrow" src="{{asset('assets/images/arrow-up.png')}}"> </p>
                        </div>
                    </div>
                {%  endfor  %}
            </div>
        {% else %}
            <div class="text-center">
                <p class="my-5 text-light">Pas de transactions</p>
                <a class="btn-add-transac" href="{{ path('add-transaction') }}">Ajouter</a>
            </div>
        {% endif %}
    </div>
{% endblock %}